body {
	padding-left: .5rem;
	padding-right: .5rem;
}

/* CSS for Task 2 */

#task2 {
	margin-top: 10rem;
}

input[type=checkbox] {
	visibility: hidden;
}

.checkslider {
	width: 20rem;
	height: 4rem;
	background-color: #ff6138;
	border: .08rem solid #000;
	box-shadow: 0 0 0 .5rem #fff inset;
	margin: 2rem 4rem;

	border-radius: 0;
	position: relative;
	padding: 0;
}

.checkslider::before {
	content: attr(data-content) '';
	color: #fff;
	position: absolute;
	margin-top: 1.1rem;
	margin-left: -9.55rem;
	height: 1.6rem;
	width: 100%;
	background: transparent;
	z-index: 1;
	padding-top: 0;
	text-align: center;
	padding: 0;
	font-weight: bolder;
	font-size: 1.1rem
}

.checkslider label {
	display: block;
	position: absolute;
	width: 2rem;
	height: 100%;
	border-radius: 0;
	margin-top: -1.35rem;

	transition: all .5s ease;
	cursor: pointer;
	/*top: .5rem;*/
	z-index: 3;
	margin-left: 0%; 
	background: #2a2c2b;
	/*visibility: hidden;*/

}

.checkslider input[type=checkbox]:checked + label {
	margin-left: 18rem;
	/*background: #d3d3d3;*/
	/*transition: all .5s ease;*/
}

/* CSS for Task 1 */

#card-container{
	padding: 0;
	margin-top: 5rem;
}

#card-container .ui.four.wide.column.card {
	padding: 0;
	box-shadow: none !important;
}

.ui.four.wide.column.card .content {
	margin: 0;
	border: none;
	background-color: #f3f3f3;
}

.ui.four.wide.column.card .content.header-area {
	background-color: rgb(33,150,240);
}
.ui.four.wide.column.card .content.header-area .ui.header {
	color: #fff;
}

.ui.four.wide.column.card .image img {
	height: 18rem;
}

.ui.four.wide.column.card .sixteen.wide.column.content.pricing .unhashed-price {
	margin-right: 20%;
}
.ui.four.wide.column.card .sixteen.wide.column.content.pricing .hashed-price {
	/*margin-left: 20%;*/
	text-decoration: line-through;
}


.ui.four.wide.column.card .sixteen.wide.column.content.quan-type-sel .row{
	padding: 0;
}
.ui.four.wide.column.card .sixteen.wide.column.content.quan-type-sel .row .ui.input {
	width: 40%;
	margin-right: 5%;
	margin-left: 0;
	float: left;
}
.ui.four.wide.column.card .ui.input input{
	background-color: #f3f3f3;
	width: 100%;
}
.ui.four.wide.column.card .ui.dropdown.button {
	background-color: #f3f3f3;
}